body {
    background: rgb(36, 36, 36);
    color: white;
    text-align: center;
    padding-bottom: 50px;
}

h1 {
    font-size: 30px;
    margin-top: 10px;
}

h2 {
    font-size: 23px;
}

h3 {
    margin-top: 20px;
}

.quizContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto 0;
    max-width: 50%;
    height: max-content;
    min-height: 400px;
    border-width: 1.5px;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    background: rgb(70, 70, 70);
    padding-bottom: 20px;
}

#currentQuestion {
    margin: 0 auto;
    width: 90%;
    height: max-content;
    padding: 10px 0 30px;
}

#questionContent {
    width: 100%;
    display: none;
    margin: 0 auto;
}

#startButton {
    left: 50%;
    border-radius: 7px;
    padding: 10px 20px;
    background-color: white;
}

li button {
    width: 80%;
    padding: 10px 0;
    margin: 5px 0;
    background: black;
    color: white;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 7px;   
}

li button:hover {
    background: white;
    border-color:black;
    color: black;
}

#timer {
    text-align: left;
    margin: 3px 7px;
}

@media only screen and (max-width: 750px), screen and (max-height: 400px) {
    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 19px;
    }

    .quizContainer{
        max-width: 90%;
        height: max-content;
        min-height: 200px;
    }
}